.swagger-ui .topbar {
  background-color: #3f51b5;
  display:none
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
  background: #014478
}

.swagger-ui .topbar .download-url-wrapper input[type=text] {
  border: 2px solid #014478
}